@import "tailwindcss";

/* @tailwind base;
 * @tailwind components;
 * @tailwind utilites;
 */

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/*
 
body {
  --font-geist-sans: 'Geist Variable', sans-serif;
  --font-geist-mono: 'Geist Mono Variable', monospace;
}
*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans);
}
